.hero {
  position: relative;
  background: url(../../assets/images/mapa_descktop.jpg) center center no-repeat;
  background-size: cover;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 5px solid rgba(27, 0, 0, 0.774);
  padding: 2.875rem 1.5rem;
}

.overlay {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: radial-gradient(
    circle,
    rgba(var(--black-base), 0.3),
    rgba(var(--black-base), 0.5)
  );

  pointer-events: none;
  z-index: 1;
}

.hero h2 {
  position: relative;
  font-family: var(--font-secondary);
  font-size: clamp(1.5rem, 2.04vw + 0.97rem, 2.5rem);
  margin-bottom: 1.5rem;
  color: #3f220e;
  text-align: center;

  z-index: 2;
}

.hero p {
  font-family: var(--font-primary);
  font-size: clamp(1rem, 1.02vw + 0.74rem, 1.5rem);
  margin-bottom: 2.625rem;
  color: rgb(var(--black-base));
  font-weight: 600;
}

.btn {
  position: relative;
  font-family: var(--font-secondary);
  font-size: 1em;
  padding: 1rem 3rem;
  border: 1px solid #3f220e;
  background: url(../../assets/images/mapa_descktop.jpg);
  box-shadow: 2px 2px 2px rgba(var(--color-detail), 0.6);
  cursor: pointer;

  z-index: 2;

  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
}
